<h1>Editing usergnome</h1>

<%= render "form", usergnome: @usergnome %>

<br>

<div>
  <%= link_to "Show this usergnome", @usergnome %> |
  <%= link_to "Back to usergnomes", usergnomes_path %>
</div>
