<h1>Editing achievment</h1>

<%= render "form", achievment: @achievment %>

<br>

<div>
  <%= link_to "Show this achievment", @achievment %> |
  <%= link_to "Back to achievments", achievments_path %>
</div>
